@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  background-color: lightskyblue;

}

.img {
  height: 43px;
}

button {
  padding: 10px 15px;
  border: none;
  transition: 0.2s ease-in-out;
}

button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  cursor: pointer;

}

nav {
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
  position: sticky;
  top: 0;
  margin-bottom: 32px;
  background-color: white;
  padding: 20px;
  z-index: 50;
}



/* navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

/* Hero section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

}

.herocontent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tag {
  background-color: #149f39;
  padding: 5px 10px;
  color: white;
  align-self: flex-start;
}

.herocontent h1 {
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;


}

.explorebtn {
  background-color: lightskyblue;
  align-self: flex-start;

}

.features {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
  padding: 20px;
  transition: 0.2s ease-in-out;


}

.feature {
  display: flex;
  gap: 20px;
}
.feature img{
  width: 72px;

}
.feature:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);


}

.divider {
  border: 1px solid #ccc;
  margin: 20px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px 0;
align-items: center;
}

.menu .tag {
  align-self: center;
}
.grid{
  display: grid;
  gap: 10px;
  grid-template-areas: "I1 I1 I2 I3" 
  "I1 I1 I2 I7" 
  "I4 I5 I6 I7";
}
 .item1{
  grid-area:I1;
 }.item2{
  grid-area:I2;
 }.item3{
  grid-area:I3;
 }.item4{
  grid-area:I4;
 }
 .item5{
  grid-area:I5;
 }.item6{
  grid-area:I6;
 }.item7{
  grid-area:I7;
 }
 .gridimage{
  border-radius: 10px ;
  transition: 0.2s ease-in-out;
width: 100%;
height: 100%;
 }
 .gridimage:hover{
  transform: scale(1.05);
 }
 /* Footer section */
 footer{
  background-color: #fff0db;
 }
 .footercontainer{
  padding: 30px ;
  display: flex;
  justify-content: space-between;
 }
 .linklists ul{
  list-style: none;
 }
 .linklists h3{
margin-bottom: 10px;
color: gray;
 }
 .linklists ul li{
  margin: 8px;
  padding: 6px;
 }
 .newsletter h3{
  margin-bottom: 10px;
  color: gray;
  margin-top: 12px;

   }
   a{
    list-style: none;
   }
   .icon ul li{
    list-style: none;
    font-style: normal;
   }
@media (max-width:786px) {
  .hero {
    flex-direction: column;

  }

  .heroimage {
    display: flex;
    justify-content: center;
  }

  .heroimage img {
    width: 80%;
  }

  .herocontent {
    gap: 10px;
    padding: 10px;

  }

  .herocontent h1 {
    font-size: 32px;
    line-height: 1.2;
  }
  .features{
    flex-direction: column;
  }
  .feature{
    flex-direction: column;
  }
  .grid{
    padding: 10px;
  }
  .gridimage{
    border-radius: 0px;

  }
}